<DOCTYPE html>
<HTML>

<head>

  <link rel="stylesheet" href="/stylesheets/css/bootstrap.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />

  <title>Project</title>

  <div class="navbar">
    <ol class="nav">
      <li class="logo"><img src="http://placekitten.com/75/49"></li>
      <li><a href="/">Home</a></li>
      <li class="right_border"><a href="/todo">Todo</a></li>
      <li class="black">spaceapceapspacespacespacespacespacespacespacespa!</li>
      <li class="user_icon"><img src="http://placekitten.com/65/49"></li>
      <li><a href="/account">Logged in as <%= username %></a></li>
      <li class="right_border"><a href="/login">Logout</a></li>
    </ol>
  </div>

  </head>
  <body>
  
  <p class="invis">invisible</p>

    <h1 class="proj_title">Title of Project</h1>
    <h2 class="proj_group">Group or orginization associated with</h2>

    <p class="table_grey">qwerty</p>

    <table class="task_table">
      <thead>
        <tr class="title_row">
          <td class="isDone">Task Completed? </td>
          <td class="title">Task Name: </td>
          <td class="desc">Task Information: </td>
          <td class="due">Due Date: </td>
        </tr>
      </thead>
      <tbody class="sortable">
<% for (var i=0; i<rows.length; i++) { var row = rows[i]; %>
        <tr class="task_item<%= row.isDone? " done": "" %>">
          <td class="isDone"><%= row.isDone? "YES": "NO" %></td>
          <td class="title"><a href="/task/<%= i %>"><%= row.title %></a></td>
          <td class="desc"><%= row.description %></td>
          <td class="due"><%= row.dueDate %></td>
        </tr>
<% } %>
      </tbody>
    </table>

    <p class="the_end">~Credits to Lauren Caswell/Jonathan Luna/Scott Sanders~</p>

  <script type"text/javascript" src="/javascripts/js/jquery-1.7.2.min.js"></script>
  <script src="/sortable/jquery.sortable.js"></script>
  <script>
    $('.sortable').sortable().bind('sortupdate', function() {
      console.log(this, arguments);
    });
  </script>

  </body>
  </HTML>